*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: hsl(188, 98%, 41%);
    font-size: 50px;
}
.fontHolder p {
    padding: 10px;
    background: #eeeeee;
    border-radius: 8px;
    display: block;
}

#submitFont {
    background: #0ff;
    cursor: pointer;
}

input {
    font-size: 25px;
}

#submitNext {
    background: #ff0;
    display: none;
}

#giveAwnser{
    background: #f00;
    display: block;
    cursor: pointer;
}